/*pop color: lets use #E24E42? can change later*/;

html{
    scroll-behavior: smooth;
}

body{
  font-family: 'Montserrat', sans-serif;
  font-size: 16pt;
  color: #303030;
}

h1{
	font-size: 2.2em;
	line-height: 2;
	font-weight: 700;
}

h2{
	font-size: 1.5em;
	padding-bottom: 5vh;
	line-height: 1.5;
}

.title > h2{
	font-size: 1em;
	font-weight: 500;
}

h3{
	padding-bottom: 1vh;
}

h4{
	font-size: 0.8em;
	font-weight: 400;
}

p{
	line-height: 1.5em;
}


a{
	font-weight: 500;
	font-style: italic;
	color: #E24E42;
	text-decoration: none;
}

a:hover, a:focus{
	color: #BB291D;
	text-decoration: underline;
	text-decoration-style: dotted;
}


footer{
	background-color: #E24E42;
	color: #FFF;
	margin-top: 10vh;
	padding: 2vh 5vw;
	font-size: 0.8em;
}

footer > p{
	padding: 1vh 0;
}

footer > p > a{
	color: #FFFFFF;
}

button{
	cursor: pointer;
	font-family: 'Montserrat';
	background-color: #E24E42;
	color: #FFF;
	font-size: 1em;
}

button:hover, button:focus{
	background-color: #BB291D;
}

.navi{
	display: inline-block;
}

button.menu-toggle{
	width: 100vw;
	padding: 0.5em;
	border: none;
	font-size: 1em;
	font-weight: 500;
}

.menu-container{
	display: none;
	background-color: #F8F8F8;
}

.show {display: block;}

/*start of index.html*/
.title{
	background-color: #ccc;
	background-image: url("../images/three_shops.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	width: 100vw;
	height: 70vh;
	padding: 0;
	display: table-cell;
	vertical-align: middle;
}

.title > h1, .title > h2{
	color: #FFF;
	padding: 0 3vw;
}

li{
	text-align: center;
	padding: 0.8em;
	font-weight: 500;
	border-bottom: 1px dotted #C0C0C0;
}

li > a{
	color: inherit;
	font-style: normal;
}

#active{
	color: #BB291D;
}

.overview{
	padding: 10vh 5vw;
	text-align: center;
	border-bottom: 1px solid #C0C0C0;
}

.overview > p{
	padding: 3vh 0;
}

#profile{
	box-shadow: 8px 8px 5px #C0C0C0;
}

button.read-more{
	padding: 0.5em;
	margin-top: 3vh;
	border-radius: 10px;
	border: 1px solid #808080;
}


button.read-more > a{
	color: #FFF;
	text-decoration: none;
	font-style: normal;
	font-weight: 400;
}

button.read-more > a:hover, a:focus{
	color: #FFF;
}

.recent-news{
	padding: 10vh 5vw;
}

.news-item{
	padding: 3vh 0;
	border-bottom: 1px dotted #C0C0C0;
}

/*end of index.html*/

/*start of publications.html*/
.Content{
  padding: 5vh 5vw;
}


.Content p {
  	padding: 3vh 0;
	border-bottom: 1px dotted #C0C0C0;
}

.Content p a {
	font-weight: 700;
	font-style: italic;
}

.publications{
	padding-bottom: 10vh;
}
/*end of publications.html*/

/*start of press.html*/
.press{
	padding: 5vh 5vw;
}

.press-item{
	padding: 3vh 0;
	border-bottom: 1px dotted #C0C0C0;
}

.press-item > p > a{
	color: inherit; /*??*/
	font-weight: 700;
}

.press-item > p > a:hover, a:focus{
	color: #BB291D;
}

.press-2018{
	padding-bottom: 10vh;
}

/*desktop*/
@media screen and (min-width: 1281px){
	.menu-toggle{
		display: none;
	}

	nav{

	}
	.menu-container{
		display: inline-block;

	}

	ul{
		display: -webkit-box;
    		display: flex;
  		-webkit-box-orient: horizontal;
  		-webkit-box-direction: normal;
    		flex-direction: row;
		justify-content: space-evenly;
		width: 100vw;
		border-bottom: 1px solid #C0C0C0;
	}

	li{
		border: none;
	}
}
