
html{
    scroll-behavior: smooth;
}

body{
  font-family: 'Montserrat', sans-serif;
  font-size: 16pt;
  color: #303030;
}

h1{
	font-size: 1.8em;
	line-height: 1.5;
	padding-bottom: 3vh;
	font-weight: 700;
}

.title > h1{
	font-size: 1.2em;
}

#wide > h1{
	font-size: 2.2em;
}

h2{
	font-size: 1.2em;
	line-height: 1.5;
	font-weight: 500;
}

.title > h2{
	font-size: 0.8em;
	font-weight: 400;
}

#wide > h2{
	font-size: 1em;
	font-weight: 500;
}

h3{
	padding-bottom: 1vh;
	font-weight: 500;
	font-size: 0.8em;
}


p{
	line-height: 1.5em;
}


a{
	font-weight: 500;
	font-style: italic;
  /* color: #1ee600; */
  color: #d62e0d;
  /* color: #3f0dd6; */
	text-decoration: none;
}

a:hover, a:focus{
  color: #990000;
  /* color: #BB291D; */
	text-decoration: underline;
	text-decoration-style: dotted;
}

/* The skip to main content */
.skipcont a{
  background: white;
  left: 0;
  padding: 6px;
  position: absolute;
  top: -40px;
  -webkit-transition: top 1s ease-out;
  transition: top 1s ease-out;
  z-index: 1;
}

.skipcont a:focus{
  top:0;
}

*:focus{
  border: 1px solid gray;
}

footer{
	background-color: #d62e0d;
	color: #FFF;
	margin-top: 10vh;
	padding: 2vh 5vw;
	font-size: 0.8em;
}

footer > p{
	padding: 1vh 0;
}

footer > p > a{
	color: #FFFFFF;
}
footer > p > a:hover{
	color: black;
}

 button{
	cursor: pointer;
	font-family: 'Montserrat';
  background-color: #d62e0d;
	color: #FFF;
	font-size: 1em;
}

button:hover, button:focus{
	background-color: #990000;

}

.navi{
	position: sticky;
	top: 0;
}

button.menu-toggle{
	width: 100vw;
	padding: 0.5em;
	border: none;
	font-size: 1em;
	font-weight: 500;
}

.menu-container{
	display: none;
	background-color: #F8F8F8;
}

#active{
	color: #BB291D;
}

/* End of Navigation */

.show {display: block;}

/*start of index.html*/


.title{
	background-color: black;
	background-image: url("../images/three_shops.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	width: 100vw;
	height: 25vh;
	padding: 0;
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}

#wide{
	height: 100vh;
}


.title > h1, .title > h2{
	color: #FFF;
	padding: 0 3vw;
}

#wide a{
	color: #FFF;
	font-weight: 400;
	font-size: 0.8em;
	position: relative;
	top: 100px;


}
#wide a span {
  position: absolute;
  top: 25px;
  left: 50%;
  width: 24px;
  height: 24px;
  margin-left: -12px;
  border-left: 1px solid #fff;
  border-bottom: 1px solid #fff;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-animation: sdb05 1.5s infinite;
  animation: sdb05 1.5s infinite;
  box-sizing: border-box;
}
@-webkit-keyframes sdb05 {
  0% {
    -webkit-transform: rotate(-45deg) translate(0, 0);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    -webkit-transform: rotate(-45deg) translate(-20px, 20px);
    opacity: 0;
  }
}
@keyframes sdb05 {
  0% {
    transform: rotate(-45deg) translate(0, 0);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: rotate(-45deg) translate(-20px, 20px);
    opacity: 0;
  }
}



li{
	text-align: center;
	padding: 0.8em;
	font-weight: 500;
	border-bottom: 1px dotted #C0C0C0;
}

/* this 'li > a' also affects the navigation and any li with a */
li > a{
	color: inherit;
	font-style: normal;
}

.overview{
	padding: 10vh 5vw;
	text-align: center;
	border-bottom: 1px solid #C0C0C0;
}

.overview > p{
	padding: 3vh 0;
}

#profile{
	/* box-shadow: 8px 8px 5px #C0C0C0; */
  border-radius: 10px;
  border: 5px solid #d62e0d

}


.read-more{
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
  background: #d62e0d;
  color: #FFF;
  padding: 8px 12px;
  text-decoration: none;
}

.read-more:hover{
  background-color: #BB291D;
  color: white;
  text-decoration: none;
}

.recent-news{
	padding: 10vh 5vw;
}

.news-item{
	padding: 3vh 0;
	border-bottom: 1px dotted #C0C0C0;
}

/*end of index.html*/

/*start of publications.html*/
.Content{
  padding: 5vh 5vw;
}

.Content p {
  	padding: 3vh 0;
  	overflow: normal;
}

.Content p a {
	font-weight: 700;
	font-style: italic;
}

.publications{
	padding-bottom: 10vh;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px dotted #ccc;
    margin: 1em 0;
    padding: 0;
}
/*end of publications.html*/

/*start of press.html*/
.press{
	padding: 5vh 5vw;
}

.press-item{
	padding: 3vh 0;
	border-bottom: 1px dotted #C0C0C0;
}

.press-item > p > a{
	color: #d62e0d;
	font-weight: 700;
}

.press-item > p > a:hover, a:focus{
	color: #BB291D;
}

.press-2018{
	padding-bottom: 10vh;
}

/* end of press.html */



/* start of about.html */

#twitterpic{
  width: 50vw;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  border-radius: 15px;
}
/* the margin around the text */
.aboutText{
  padding: 5vh 5vw;
  text-align: center;
}
/* the aboutPhotos stuff below is about positioning the images */
.aboutPhotos{
  padding: 5vh 5vw;
}
#aboutPhotos{
  display: -webkit-box;
    display: flex;
  flex-wrap: wrap;
  -webkit-box-pack: center;
    justify-content: center;

}
#aboutPhotos img{
  width:auto;
  max-width: 80vw;
  height: auto;
  max-height: 50vh;
  
}


/* end of about.html */
/* Start of Contact page */
.contact{
  padding: 5vh 5vw;
}
.contact img{
  border-radius: 15px;
}
.contact p{
  padding: 1vh 0;
  overflow: normal;
}


/*desktop*/
@media screen and (min-width: 851px){

	.menu-toggle{
		display: none;
	}

	.menu-container{
		display: inline-block;

	}

	ul{
		display: -webkit-box;
    		display: flex;
  		-webkit-box-orient: horizontal;
  		-webkit-box-direction: normal;
    		flex-direction: row;
		justify-content: space-evenly;
		width: 100vw;
		border-bottom: 1px solid #C0C0C0;
	}

	li{
		border: none;
	}
  .aboutText{
    text-align: left;
  }
	#aboutPhotos img{
  width:auto;
  max-width: 30vw;
  height: auto;
  max-height: 50vh;
  
}
  #twitterpic{
    width: 20vw;
    display: inline;
  }
}

#wide a{
	top: 150px;
}

@media screen and (prefers-reduced-motion: reduce){
  html{
      scroll-behavior: auto; /* Removes scroll animation */
  }

  .skipcont a{
    background: white;
    left: 0;
    padding: 6px;
    position: absolute;
    top: -40px;
    -webkit-transition: initial; /* Your code here - set to default setting */
    transition: initial;/* Your code here - set to default setting */
    z-index: 1;
  }

  .skipcontent a:focus{
    top:0;
  }

  .title{
    background-attachment: local;
  }

  #wide a span {
    animation: none;
  }


}
